@font-face {
    font-family: "impFont";
    src: url("../assets/font/IMPOS10_.ttf");
}

* {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    scroll-behavior: smooth;

}

*, ::after, ::before{
    box-sizing: border-box;
}

/* SPOT */

:root {
    --mouse-x: 50%;
    --mouse-y: 50%;
}

  
.mask {
pointer-events: none;
width: 100%;
height: 100%;
position: fixed;
z-index: 10000;
background-color: hsla(0,0%,0%, 0.9);
mask: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    transparent 40px,
    black 400px
);
-webkit-mask: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    transparent 40px,
    black 400px
);
}



/*------custom-scroll-bar - from w3schools.com------------------*/
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }




body{ 
    /* background-image: url("../assets/img/BG2-nocat.jpg"); */
    width: 100%;
    overflow-x: hidden;
    
    background-size: 50px 50px;
    background-color: #eebe9e;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -ms-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    
}



.first-page {
    height: 100vh;
    width: 98vw;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 20;
}

.title-box {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    height: 50%;
    position: absolute;
    width: 100vw;
}


.ip-title {
    padding-top: 30px;
    font-family: 'impFont';
    font-size: 8rem;
    color: #AF290D;
    text-shadow: 0 0 3px #AF290D, 0 0 5px #FFF;
}

.desc-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 100%;
    padding-bottom: 50px;
    
}

.desc-txt {
    font-family: 'impFont';
    font-size: 3rem;
    color: #AF290D;
    text-shadow: 0 0 3px #AF290D, 0 0 5px #FFF;
    text-align: center;
    margin-bottom: 50PX;
    position: relative;
}

.see-box {
    display: flex;
    align-items: center;
}

.see-box i{
    font-size: 3rem;
    color: #AF290D;
    text-shadow: 0 0 3px #AF290D, 0 0 5px #FFF;
    text-align: center;
    margin: 0px 10px;
}

.see-box :nth-child(1){
    animation: flash .6s ease-in-out infinite;
}

.see-box :nth-child(3){
    animation: flash-reverse .6s ease-in-out infinite;
}

.see-more {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 30px;
    z-index: 1000;
    position: relative;
}

.ip-cat-box {
    height: 100vh;
    width: 50vw;    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: fixed; 
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    z-index: 10;
    pointer-events: none;
}


.im-cat{
    width: 35vw;
    height: 30vh;
    position: fixed;
    left: 0; 
    right: 0; 
    top: -100px;
    bottom: 0;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;

    animation: float 3s ease-in-out infinite;
    pointer-events: none;
}

.rapel {
    width: 15px;
    height: 50vh;
    position: absolute;
    z-index: -1;
    left: 0; 
    right: 0; 
    top: 0;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    animation: float 3s ease-in-out infinite;
    pointer-events: none;
}



.bg-music {
    position: absolute;
    z-index: -1;
}





.last-page {
    height: 100%;
    width: 90vw;
    display: flex;
    align-items: end;
    padding-bottom: 100px;
}

.mid-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 20;
}

.mid-top {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.mid-top-left,
.mid-top-right {
    display: flex;
    gap: 100px;
}



.info-box p{
    background-color: #000;
    color: #FFF;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 10px 10px #000;
}

.info-box p:last-child{
    background-color: #FFF;
    color: #000;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    
}

.mid-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ca-adress {
    text-align: center;
    position: relative;
    z-index: 1000;
    display: flex;
}

.mid-page p{
    font-weight: 700;
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: -10px;
    border-radius: 8px;
}




.ca-adress input {
    background-color: #fee6e3;
    border: 2px solid #000;
    font-size: 1.5rem;
    width: 500px;
    text-align: center;
    padding: 10px 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: #111;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 30px;
    box-shadow: 6px 6px;
}



.socials {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 100px;
   
}

.socials img{
    width: 80px;
    height: 80px;
    position: relative;
    
}

.missions-btn {
    margin: 15px 0px;
}


.last-page {
    height: 100vh;
}

.missions {
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: end;
}


.miss-box{
    display: flex;
    font-size: 3rem;
    color: #000;
    text-align: center;
    margin: 0px 10px;
    align-items: center;
}

.miss-box i {
    margin: 0px 20px;
    margin-bottom: -15px;
   
}

.miss-box i:first-of-type{
    -webkit-animation: flash .6s ease infinite alternate;
}

.miss-box i:last-of-type{
    -webkit-animation: flash-reverse .6s ease infinite alternate;
}

.last-button {
    position: absolute;
    z-index: 1000;
}

/* KEYFRAMES */
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes flash {
	0% {
        text-shadow:
                    0 5px 0 #ccc,
                    0 2px 3px rgba(0, 0, 0, 1);  
    }
    100% {
      transform:translateX(-20px);
     
    }
}

@keyframes flash-reverse {
	0% {
        text-shadow:
                    0 5px 0 #ccc,
                    0 2px 3px rgba(0, 0, 0, 1);  
    }
    100% {
      transform:translateX(20px);
     
    }
}



/* CSS */
.button-56 {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: 700;
    
  }
  
  .button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button-56:hover:after {
    transform: translate(0, 0);
  }
  
  .button-56:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .button-56:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .button-56 {
      padding: 0 40px;
    }
  }


.last-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 200px;
}


.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
    z-index: 0;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 100;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}



.horizontally p{
 width: 100%;
 height: 100%;
 margin: 0;
 margin-top: 40px;
 line-height: 50px;
 text-align: center;


 /* Starting position */
 -moz-transform:translateX(50%);
 -webkit-transform:translateX(50%);	
 transform:translateX(50%);
 /* Apply animation to this element */	
 -moz-animation: horizontally 5s linear infinite alternate;
 -webkit-animation: horizontally 5s linear infinite alternate;
 animation: horizontally 5s linear infinite alternate;
}

.reverse p{
    margin-top: 50px;

     /* Apply animation reverse to this element */	
 -moz-animation: horizontally 5s linear infinite alternate-reverse;
 -webkit-animation: horizontally 5s linear infinite alternate-reverse;
 animation: horizontally 5s linear infinite alternate-reverse;

} 


/* Move it (define the animation) */
@-moz-keyframes horizontally {
 0%   { -moz-transform: translateX(50%); }
 100% { -moz-transform: translateX(-50%); }
}
@-webkit-keyframes horizontally {
 0%   { -webkit-transform: translateX(50%); }
 100% { -webkit-transform: translateX(-50%); }
}
@keyframes horizontally {
 0%   { 
 -moz-transform: translateX(50%); /* Browser bug fix */
 -webkit-transform: translateX(50%); /* Browser bug fix */
 transform: translateX(50%); 		
 }
 100% { 
 -moz-transform: translateX(-50%); /* Browser bug fix */
 -webkit-transform: translateX(-50%); /* Browser bug fix */
 transform: translateX(-50%); 
 }
}



.desc-box p {
    -webkit-animation: bounce .4s ease infinite alternate;
}

@-webkit-keyframes bounce {
  0% {
      text-shadow:
                  0 5px 0 #ccc,
                  0 2px 3px rgba(0, 0, 0, 1);  
  }
  100% {
    transform:translateY(-20px);
   
  }
}