@font-face {
    font-family: "impFont";
    src: url("../assets/font/IMPOS10_.ttf");
}

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
}


body{ 
    background-image: url("../assets/img/BG2-nocat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ip-cat-box {
    height: 100vh;
    width: 50vw;    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    z-index: 100; 
    position: fixed; 
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}


.im-cat{
    width: 50vw;
    height: 30vh;
    position: fixed;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;

    animation: float 3s ease-in-out infinite;
    z-index: 10;
}

.rapel {
    width: 20px;
    height: 60vh;
    margin-top: -10vh;

    position: absolute;
    z-index: 5;
    left: 0; 
    right: 0; 
    top: 0;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    animation: float 3s ease-in-out infinite;
}


.first-page {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.fp-phrase1 {
    padding-top: 30px;
    font-family: 'impFont';
    font-size: 3rem;
    padding-left: 2rem;
    color: #AF290D;
    text-shadow: 0 0 3px #AF290D, 0 0 5px #FFF;
}

.fp-phrase2 {
    text-align: center;
    font-family: 'impFont';
    font-size: 6rem;
    text-wrap: nowrap;
    padding-left: 2rem;
    color: #AF290D;
    text-shadow: 0 0 3px #AF290D, 0 0 5px #FFF;
}

.bg-music {
    position: absolute;
    z-index: -1;
}





.last-page {
    height: 100%;
    width: 90vw;
    display: flex;
    align-items: end;
    padding-bottom: 100px;
}

.mid-page {
    height: 90vh;

    margin: 0;
}


.socials {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 100px;
}

.socials img{
    width: 100px;
    height: 100px;
    z-index: 100;
    position: relative;
}







/* KEYFRAMES */
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}